@import url(./reset.css);

body{
  font-family: 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
  background-color: #f7f7f7;
}
a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}



.wrapper{
  width: 100%;
  height: 2000px;
  background-image: url(../img/bg-main.png);
  background-repeat: no-repeat;
  background-size: initial;
  background-position-x: center;
  background-position-y: 0px;
}

/*header*/
#header{
  padding: 18px 0 0px 11px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

#header > ul{
  display: flex;
  justify-content: space-between;
}

#header > ul >  a{
  font-size: 14px;
}

#header > ul > a > img{
  margin-right: 12px;
  vertical-align:bottom;
}

#header div{
  display: flex;
    
}

#header div > li{
  margin-left: 30px;
  font-size: 14px;
}


/*main-menu*/
.main-menu{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 76.8px;
  position: relative;
}

.main-menu > .menu{
  display: flex;
  padding-top: 22px;
  flex-wrap :wrap;
}

.main-menu > .menu > .item{
  color: #fff;
  font-size: 18px;
  padding: 6px 0px 34px;
  font-weight: 700;
  margin-left: 85px;
  letter-spacing: -0.05em;
}

.main-menu > .menu > .item:nth-child(2){
  margin-left: 94px;
}

.main-menu > .menu > .item:hover{
  color: #fff584;;
}


.main-menu .item .item__contents{
  display: none;
  position: absolute;
  top: 100px;
  left: 30px;
}

.main-menu .item:hover .item__contents{
  display: flex;
}

.main-menu .item .item__contents > ul{
  display: flex;
}

.main-menu .item .item__contents > ul > li{
  margin-left: 45px;
  color: #fff;
  font-weight: lighter;
  font-size: 16px;
}

.main-menu .item .item__contents > ul > li:nth-child(1){
  margin-left: 0;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  width: 190px;
}

.main-menu .item .item__contents > ul img{
  height: 20px;
  width: 12px;
  margin-left: 2px;
}



/*search*/
.main-search{
  height: 300px;
  position: relative;
  display: flex;
  max-width: 1200px;
  margin: 149px auto 0px auto;
}

.main-search .search-1{
  width: 720px;
  height: 124px;
  padding: 42px 0px 0px 120px;
}

.main-search .search-1 .search__search form{
  position: relative;
}
.main-search .search-1 .search__search form input[type=search] {
  width: 656px;
  height: 64px;
  outline-offset: -2px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 30%);
  border: none;
  position: absolute;
  top: 0;
  right: 64px;
}

.main-search .search-1 .search__search form input[placeholder] {
  padding: 0 15px;
  font-size: 18px;
  background-color: #fff;
}

.main-search .search-1 .search__search form button {
  height: 64px;
  width: 64px;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 30%);
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}


.main-search .search-1 .search__requirement {
  color: #fff;
  display: flex;
}

.main-search .search-1 .search__requirement div{
  margin-top: 85px;
}

.main-search .search-1 .search__requirement div:nth-child(1){
  margin-top: 95px;
  font-size: 14px;
}

.main-search .search-1 .search__requirement div img{
  margin: 0px 20px 0px 5px;
  height: 15px;
  width: auto;
}

.main-search .search-1 .search__requirement div select{
  overflow: hidden;
  display: block;
  position: relative;
  min-width: 150px;
  max-width: 200px;
  height: 40px;
  padding: 0 30px 0 10px;
  color: #fff;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #456adb;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 6px;
}

/* .main-search .search-1 .search__requirement div select:focus{
  background-color: #ddd;
  
} */

.main-search .search-2{
  padding-left: 20px;
  width: 220px;
  color: #fff;
  position: relative;
}

.main-search .search-2 h5{
  margin: 0 0 20px 0;
  padding: 2px 0 0 0;
  line-height: 20px;
}

.main-search .search-2 .search__popular__btn{
  content: '';
  overflow: hidden;
  display: block;
  width: 220px;
  height: 64px;
  border-radius: 5px;
  background: #dfeff7 no-repeat right center;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0 / 30%);
}

.main-search .search-2 .search__popular__btn a{
  color: #1c84cc;
  font-weight: 700;
  line-height: 64px;
  padding: 0 35px 0 15px;
  font-size: 18px;
}

.main-search .search-2 .search__popular__btn .swiper-container{
  height: 62px;
  flex-grow: 1;
}

.main-search .search-2 .search-help{
  position: absolute;
  top: 141px;
  right: 0px;
  font-size: 14px;
}

.main-search .search-2 .search-help img{
  margin-right: 3px;
  height: 16px;
  width: auto;
  vertical-align:bottom;
}

.main-search .search-2 .go-to-content{
  position: absolute;
  top: 198px;
  right: 0px;
  font-size: 14px;
}



/*theme*/
.main-theme{
color: #fff;
display: flex;
max-width: 1200px;
margin: 170px auto 0px auto;
}



.main-theme .theme{
  position: relative;
  display: flex;
}

.main-theme .theme .theme__name{
  margin: 1px 12px 0px 18px;
  font-size: 16px;
}

.main-theme .theme .theme__name:hover{  
  text-decoration: underline;
  color: #ffda2e;
}


.main-theme > div.theme__name{
  font-weight: 700;
  font-size: 20px;
  margin: -1px 12px 0px 0px;
}

.main-theme .theme .theme__contents{
  width: 1200px;
  margin-top: 44px;
  position:absolute;
  display: flex;
  justify-content: center;
  margin-left: -64px;
}

.no{
  width:56px;
  height: 56px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.theme__content:hover .yes{
  position: absolute;
  bottom: 0;
}

.main-theme .theme .theme__contents .theme__content{
  border-right: 1px solid rgba(255,255,255,0.1);
  width: 119px;
  height: 100px;
}

.main-theme .theme .theme__contents .theme__content:last-child{
  width: 119px;
  height: 100px;
  border-right: none;
}

.h4{
  width:56px;
  height: 56px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.main-theme .theme .theme__contents .theme__content h4{
  width: 56px;
  font-size: 14px;
  position: absolute;
}

.theme__content:hover .h4{
  color:#ffda2e;
}


/*category-data*/
.category-data h1{
  font-weight: 700;
}

/*category-data-1*/
.category-data-1{
  width: 100%;
  height: 300px;
  max-width: 1200px;
  display: flex;
  margin: 200px auto 0px auto;
}

.category-data-1 .data-1{
  width: 380px;
  margin-right: 30px;
  display: flex;
  position: relative;
}

.category-data-1 .data-2{
  width: 380px;
  margin-right: 30px;
  display: flex;
  position: relative;
}

.category-data-1 .data-3{
  width: 380px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;

}

.category-data-1 h1{
  padding: 0 0 20px 0;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.05em;
}

.category-data-1 h2{
  margin: 4px 0px 0px 5px;
  color: #666;
  font-size: 14px;
}

.category-data-1 h3{
  position: absolute;
  right: 0;
  top: -4px;
  margin: 7px 0px 0px 10px;
  color: #666;
  font-size: 14px;

}


/**/

.data__container{
  position: relative;
  width:380px;
  margin:auto;
  position: absolute;
  height: 260px;
  top: 40px;
  left: 0;
}

.data__name{
  width: 100%;
  height: 38px;
}

.data__name ul{
  width: 100%;
  display:table;
  table-layout: fixed;
  padding:0
}
.data__name li{
  display: table-cell;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  border-bottom: 2px solid #757575;  
  color: #757575 !important;
  text-align: center;
}

.data__name li.active{
  background: #fff;
  color: #4185ca !important;
  font-weight: 700;
  border-bottom: 2.5px solid #4185ca;
}
.data__name li.active a{
  color: #0051a4;
  font-weight: 500;
}
.data__name li a{
  font-size: 16px;
  color: #222;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.data__container .data__content{
  width:360px;
  padding-top: 25px;
  padding-left: 20px;
  background-color: #fff;
  overflow-y: hidden;
}

.data__container .data__content ol li{
  padding: 0;
  line-height: 1.1;
  margin-bottom: 16px !important;
}

.data__container .data__content ol li a{
  color: #333 !important;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.data__container .data__content h6{
  content: counter(my-awesome-counter);
  font-weight: bold;
  display: inline-block;
  padding: 4px 8px;
  background: #4185ca;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  margin-right: 8px;
}

.data__container .data__content span{
  line-height: 23px;
}


/*swiper*/

.swiper {
  width: 380px;
  height: 221px;
  position: absolute;
  top: -20px;
  left: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: contain;
  width: 380px;
  overflow: clip;
}

.swiper-slide h5{
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 52px;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  line-height: 52px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(0,0,0,0.5);
  white-space: nowrap;
  text-overflow: ellipsis;

}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  text-shadow: 5px 10px 18px #888888;
}

.swiper-pagination{
  color: rgb(100, 62, 62);
  position: absolute;
  top: 0;
}



/*category-data-2*/
.category-data-2{
  width: 100%;
  height: 300px;
  max-width: 1200px;
  display: flex;
  margin: 50px auto 0px auto;
  overflow-x: visible; 
  position: relative;
}


.category-data-2 .data-1{
  width: 790px;
  margin-right: 30px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;

}


.category-data-2 .data-3{
  width: 380px;
  height: 300px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-data-2 h1{
  padding: 0 0 20px 0;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.05em;
}

.category-data-2 h2{
  margin: 4px 0px 0px 15px;
  color: #333;
  font-size: 14px;
}


.category-data-2 h3{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 7px;
  color: #333;
  font-size: 14px;

}

.category-data-2 .data__box{
  margin-top: -100px;
  width: 380px;
  height: 160px;
  background-color: #298ED7;
  color: #fff;
  position: relative;
}

.data__box--1{
  margin-right: 30px;
}

.data__box h1{
  position: absolute;
  padding: 0 0 30px 0;
  color: #fff;
  top: 20px;
  left: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.data__box h2{
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
}

.data__box h3{
  position: absolute;
  top: 60px;
  left: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
}

.data__box--1 img,
.data__box--2 img{
  position: absolute;
  bottom: 10px;
  right: 0;
} 

.data__box--3{
  display: flex;
}

.data__box--3 div{
  margin-top: 10px;
  width: 95px;
  height: 105px;
  padding: 13px 0;
  line-height: 1.1;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  border-left: 1px solid rgba(255,255,255,0.3);
  position: relative;
}

.data__box--3 div p{
  padding: 0 0 74px 0;
  line-height: 1.1;
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.05em;
}

.data__box--3 div img{
  position: absolute;
  top: 50px;
  left: 30px;
}

.data__box--3 div strong{
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0;
  font-size: 14px;
}


/*category-data-3*/
.category-data-3{
  width: 100%;
  height: 300px;
  max-width: 1200px;
  display: flex;
  margin: -50px auto 0 auto;
}

.category-data-3 .data-1{
  width: 380px;
  margin-right: 30px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-data-3 .data-2{
  width: 380px;
  margin-right: 30px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-data-3 .data-3{
  width: 380px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;

}

.category-data-3 h1{
  padding: 0 0 20px 0;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.05em;
}

.category-data-3 h2{
  margin: 4px 0px 0px 5px;
  color: #666;
  font-size: 14px;
}

.category-data-3 h3{
  position: absolute;
  right: 0;
  top: -4px;
  margin: 7px 0px 0px 10px;
  color: #666;
  font-size: 14px;
}

.data-3__container{
  height: 240px;
  width: 380px;
  background-color: #fff;
}

.notice{
  overflow: hidden;
}

.notice .notice__content{
  border-left: 4px solid #a0c2e4;
  padding-left: 16px !important;
  height: 82px;
  border-bottom: 0.5px solid #d2d0d0;
}

.notice .notice__content:last-child{
  border-bottom: none;
}

.notice .notice__content h1{
  color: #333;
  line-height: 0;
  font-size: 14px;
  font-weight: 500;
  padding-top: 30px;
}

.notice .notice__content h2{
  color: #666;
  font-size: 14px;
  margin-top: -5px;
  margin-left: -1px;
}

/*swiper--2*/
.swiper--2 {
  margin-top: 70px;
  width: 380px;
  height: 240px;
  position: absolute;
  top: -20px;
  left: 0;
  overflow: hidden;
}

/**/
.go-another{
  display: flex;
  flex-wrap: wrap;
}

.go-another .go-another__content{
  position: relative; 
}

.go-another .go-another__content p{
  margin-top: 65px;
  line-height: 1.5;
  font-size: 12px;
  text-align: center;
  letter-spacing: -1px;
  color: #333333 !important;
}

.go-another .go-another__content--1,
.go-another .go-another__content--2{
  width: 188px;
  height: 120px;
  border: 1px solid #eee;
}


.go-another .go-another__content--3,
.go-another .go-another__content--4,
.go-another .go-another__content--5{
  width: 124px;
  height: 120px;
  border: 1px solid #eee;
}

.go-another .go-another__content--1 img,
.go-another .go-another__content--2 img{
  position: absolute;
  top: 20px;
  left: 75px;
}

.go-another .go-another__content--3 img,
.go-another .go-another__content--4 img,
.go-another .go-another__content--5 img{
  position: absolute;
  top: 20px;
  left: 41px;
}


/*top btn*/
.top-btn{
  position: absolute;
  bottom: -630px;
  right: 80px;

}
